.container {
    margin: auto;
    padding-top: 50px;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 780px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.search {
    display: flex;
    position: relative;
    width: max-content;
    height: 2.5rem;
    .search--input {
        width: 200px;
        padding: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 20px;
        font-family: 'Balsamiq Sans', cursive, "PrometoW02-Regular";
        @media screen and (max-width: 480px) {
            width: 200px;
        }
    }
    .search--microphone {
        position: absolute;
        left: 180px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ffffff50;
        transition: 0.2s;
        img {
            height: 30px;
        }
        @media screen and (max-width: 480px) {
            left: 175px;
        }
    }
    .search--button {
        width: 80px;
        padding: 0 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 20px;
        font-family: 'Balsamiq Sans', cursive, "PrometoW02-Regular";
    }
}