main .container {
    
}
.information {
    width: 50%;
    height: fit-content;
    text-align: center;
    backdrop-filter: blur(2px) contrast(0.8);    
    background: #ffffff30;
    border-radius: 10px;
    font-family: "PrometoW02-Regular";
    .information--location {
        margin: 10px 0;
        h3 {
            font-size: 35px;
        }
        p {
            font-size: 15px;
        }
    }
    .information--date {
        font-size: 25px;
    }
    .information--short {
        font-size: 15px;
    }
    .information--current {
        display: flex;
        justify-content: center;
        align-items: center;
        .information--current-temperature {
            margin: 0 10px;
            font-size: 70px;
        }
        img {
            height: 100px;
        }
    }
    .information--detail {
        display: flex;
        justify-content: space-evenly;
    }
    .information--daily {
        display: flex;
        margin: 20px 0;
        div {
            width: 33%;
            span {
                font-weight: bold;
            }
            .information--daily-day {
                font-size: 25px;
            }
        }
    }
}

.map {
    display: flex;
    flex-direction: column;  
    align-items: flex-end;  
    width: 40%;
    #map {
        width: 100%;
        height: 350px;
        border: 0;
        border-radius: 10px;
    }    
    p {
        padding: 0 10px;
        width: fit-content;
        backdrop-filter: blur(2px) contrast(0.8);
        background: #00000030;
        border-radius: 5px;
        font-size: 1.2rem;
        text-align: end;
        font-family: "PrometoW02-Regular";
    }
    p:first-child {
        border-bottom-right-radius: 0;
    }
    p:last-child {
        border-top-right-radius: 0;
    }
}

.ymaps-2-1-75-map ymaps{
    border-radius: 10px;
}