.information {
    margin: 20px 0;
    width: 50%;
    height: fit-content;
    text-align: center;
    backdrop-filter: blur(2px) contrast(0.8);
    background: #ffffff30;
    border-radius: 10px;
    font-family: 'Balsamiq Sans', cursive, "PrometoW02-Regular";
    @media screen and (max-width: 780px) {
        width: 80%;
    }
    .information--location {
        margin: 10px 0;
        h3 {
            font-size: 35px;
        }
        p {
            font-size: 15px;
        }
    }
    .information--date {
        font-size: 25px;
    }
    .information--short {
        font-size: 15px;
    }
    .information--current {
        display: flex;
        justify-content: center;
        align-items: center;
        .information--current-temperature {
            margin: 0 10px;
            font-size: 70px;
        }
        img {
            height: 100px;
        }
        transition: 0.5s;
        &:hover {
            background: #ffffff30;
            border-radius: 10px;
            transform: scale(1.2);
            transition: 0.5s;
        }
    }
    .information--detail {
        display: flex;
        justify-content: space-evenly;
    }
    .information--daily {
        display: flex;
        margin: 20px 0;
        div {
            width: 33%;
            span {
                font-weight: bold;
            }
            .information--daily-day {
                font-size: 25px;
            }
            .information--daily-icon {
                width: 150px;
            }
            transition: 0.5s;
            &:hover {
                background: #ffffff30;
                border-radius: 10px;
                transform: scale(1.2);
                transition: 0.5s;
            }
        }
    }
}